h1 {
  text-align: center;
}
h2 {
  margin-top: 1%;
}
.mainDiv h2 {
  font-size: 1rem !important  ;
}
form input {
  font-size: 1rem !important  ;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header {
  padding: 10px;
  color: #1E90FF;
  font-size: 26px;
  font-family: "Sora", sans-serif;
  font-weight: 800;
  display: flex;
  justify-content: space-between;
}
#header button {
  background-color: #92a1d1;
}
#container {
  width: 964px;
}
#weekdays {
  width: 100%;
  display: flex;
  color: #247ba0;
  font-weight: bold;
}
#weekdays div {
  width: 100px;
  padding: 50px;
  padding-bottom: 0px !important;
}
#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.day {
  width: 100px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  margin: 5px;
  box-shadow: 0px 0px 3px #cbd4c2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.day:hover {
  background-color:#73ACDC!important;
}

.day + #currentDay {
  background-color: #e8f4fa;
}
.event {
  font-size: 10px;
  padding: 3px;
  background-color: #58bae4;
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}
.padding {
  cursor: default !important;
  background-color: #fffcff !important;
  box-shadow: none !important;
}
#newEventModal,
#deleteEventModal {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
}
#eventTitleInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}
#eventTitleInput.error {
  border: 2px solid red;
}
#cancelButton,
#deleteButton {
  background-color: #1E90FF;
}
#saveButton,
#closeButton {
  background-color: #92a1d1;
}
#eventText {
  font-size: 14px;
}
#modalBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
}
#header .icons {
  display: flex;
}

#header .icons span {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: white;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}

#header .icons span:last-child {
  margin-right: -10px;
}

#header .icons span:hover {
  background: white;
  /* color: rgba(247, 241, 241, 0.938);  */
  color: #1E90FF;
}

body {
  font-family: "Arial", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f5f5f5;
}

form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 6px;
  width: 78%;
  border-radius: 15px;
  border: 2px solid rgb(65, 132, 242);
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); */
}

input {
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

#time-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  gap: 8px;
}

#hour,
#minute {
  width: 30%;
}

span {
  font-size: 18px;
}

#ampm {
  width: 60px;
}

.fbtn {
  width: 100%;
  padding: 8px;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.fbtn:hover {
  background-color: #9dc6ea;
}

.fbtn.clicked {
  background-color: #3498db;
  color: #000;
}

/* for responsiveness  */
@media only screen and (min-width: 1024px) {
  .mt-4,
  .my-4 {
    margin-top: 10.5rem !important;
  }
}
@media only screen and (min-width: 1864px) {
  .mt-4,
  .my-4 {
    margin-top: 1.5rem !important;
  }
}

@media screen and (max-width: 768px) {
  .mainDiv {
    flex-direction: column;
    align-items: center;
    width: 90vw;
    height: 50vw;
  }

  .mainddddd {
    width: 100%;
    padding-top: 2%;
    height: 25rem;
  }

  #container {
    width: 100%;
  }

  #header {
    flex-direction: column;
  }

  #calendar {
    flex-direction: column;
  }

  .day {
    width: calc(20% - 10px);
    margin: 5px;
  }

  #newEventModal,
  #deleteEventModal {
    width: 80%;
    left: 10%;
  }
  form {
    width: 47%;
  }
  #time-picker {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    margin-right: 35px;
  }
  .last_for_display_time {
    width: 100%;
  }
  #monthDisplay {
    margin-left: 15px;
    font-size: 20px;
    margin-top: 5px;
  }
}
/* #nextButton.material-symbols-rounded{
  margin-top: -35px;
  margin-left: 180px;
      } */

.mainddddd {
  width: 90%;
  display: flex;
  flex-direction: row;
  box-shadow: 0rem 0.5rem 1.5rem 0.5rem rgba(167, 164, 164, 0.7) !important;
  padding: 1.5%;
}

body {
  font-family: "Arial", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f5f5f5;
}

.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vw;
}

#container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

#header {
  padding: 10px;
  background-color: #1E90FF;
  color: white;
  font-size: 18px;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#header button {
  background-color: #92a1d1;
}

#weekdays,
#calendar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#weekdays div,
.day {
  width: calc(14.2857% - 10px);
  padding: 10px;
  margin: 5px;
}

.day {
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 5px 25px rgb(1 1 1 / 15%);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-bottom: 6px solid #1E90FF;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.day:hover {
  background-color: #e8faed;
}

.day + #currentDay {
  background-color: #e8f4fa;
}

#newEventModal,
#deleteEventModal {
  width: 80%;
  left: 10%;
}

.mainddddd {
  width: 100%;
  display: flex;
  flex-direction: row;
  box-shadow: 0rem 0.5rem 1.5rem 0.5rem rgba(167, 164, 164, 0.7) !important;
  padding: 1.5%;
  border: 2px solid #1E90FF;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  body {
    font-family: "Arial", sans-serif;
    /* display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; */
    margin: 0;
    background-color: #f5f5f5;
    display: block;
  }

  .mainDiv {
    flex-direction: column;
    align-items: center;
    width: 90vw;
    height: 50vw;
  }
  /* .last_for_display_time{
display: none;
} */
  .mainddddd {
    width: 90%;
    height: 100%;
    padding-top: 2%;
    /* height: 87vw; */
    flex-direction: column;
  }

  #container {
    width: 100%;
  }

  #header {
    flex-direction: row;
  }

  #calendar {
    flex-direction: row;
    /* gap: 2px; */
    margin-left: 12px;
  }

  .day {
    width: calc(20% - 10px);
    margin: 5px;
  }

  #newEventModal,
  #deleteEventModal {
    width: 80%;
    left: 10%;
  }
  #weekdays div,
  .day {
    width: calc(11% - 9px);
    margin-left: 4%;
    height: 8vw;
    align-items: center;
    margin-top: 8px;
  }
}
