<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Resume</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #E6EAF0;
        }

        .main {
            max-width: 1200px;
            width: 100%;
            height: 80%;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            overflow: hidden;
            background-color: #FFFFFF;
            display: flex;
        }

        .left-side {
            flex: 1;
            padding: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .right-side {
            flex: 1;
            background: url('images/online-resume.png') no-repeat center center;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        h1 {
            text-align: center;
            font-weight: 600;
            margin-bottom: 20px;
            color: #333333;
            font-size: 24px;
        }

        p {
            text-align: center;
            color: #666;
            margin-bottom: 20px;
            font-size: 16px;
        }

        .form-container {
            width: 80%;
            padding: 30px;
            border-radius: 10px;
            background-color: #f9f9f9;
        }

        input[type="file"] {
            padding: 10px;
            width: 100%;
            margin-bottom: 20px;
            font-size: 16px;
        }

        .btn-primary {
            border-radius: 20px;
            padding: 10px 30px;
            background-color: #6C63FF;
            color: white;
            border: none;
            margin-top: 10px;
            width: 100%;
            cursor: pointer;
            display: block;
            font-size: 18px;
        }

        .btn-primary:hover {
            background-color: #5752d4;
        }

        .loader-container {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.8);
            z-index: 1000;
            justify-content: center;
            align-items: center;
        }

        .loader {
            border: 8px solid #6C63FF;
            border-top: 8px solid #f5f5f5;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

        @media (max-width: 768px) {
            .main {
                flex-direction: column-reverse;
                height: 100%;
            }

            .left-side, .right-side {
                flex: none;
                height: 50%;
                padding: 20px;
            }

            .left-side {
                order: 1;
                margin-top: 8px;
            }

            .right-side {
                order: 2;
                margin-top: 12px;
            }
            input[type="file"] {
              width: 140%;
            }
            .btn-primary {
    padding: 7px 7px;
    text-wrap: nowrap;
            }
        }
    </style>
    <script>
        history.pushState(null, null, location.href);
        window.onpopstate = function (event) {
            history.go(1);
        };
    </script>
</head>
<body>
    <div class="loader-container" id="loaderContainer">
        <div class="loader"></div>
    </div>

    <div class="main">
        <div class="left-side">
            <h1>Please Submit Resume</h1>
            <!-- <p>If you are not a candidate, just hit Book Appointment button directly.</p> -->
            <div class="form-container">
                <form action="/book_slot" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="slot_id" value="<%=slot_id%>">
                    <input type="hidden" name="user_id" value="<%=user._id%>">
                    <input type="hidden" name="employee_id" value="<%=employee_id%>">
                    <input type="file" name="resume" id="resume" accept="application/pdf" required>
                    <button class="btn btn-primary" type="submit">Book Appointment</button>
                </form>
            </div>
        </div>
        <div class="right-side">
        </div>
    </div>

    <script>
        function showLoader() {
            document.getElementById('loaderContainer').style.display = 'flex';
        }

        function hideLoader() {
            document.getElementById('loaderContainer').style.display = 'none';
        }

        window.addEventListener('beforeunload', showLoader);
        window.addEventListener('load', hideLoader);
    </script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>
</body>
</html>
