<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HR Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
      /* COMMON CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: white;
    height: 100vh;
}

.container {
    height: 600px;
    width: 550px;
    box-shadow: 0px 15px 30px rgb(22, 22, 22);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-radius: 20px;
    background: linear-gradient(to right top, #63B8FF, #1E90FF);

}

.circleTop {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: white;
    box-shadow: inset 0px 15px 25px rgb(104, 102, 102), 0px 5px 15px rgb(114, 113, 113);
    margin-top: -120px;
    margin-left: -50px;
}

.circleBottom {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: white;
    margin-top: 200px;
    margin-left: 323px;
    box-shadow: inset 0px 5px 15px rgb(90, 89, 89), 0px 5px 15px rgb(77, 75, 75);
}

.content {
    height: 450px;
    width: 420px;
    float: right;
    margin-top: -100px;
    margin-right: 50px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: linear-gradient(to right top, #4B6CB7, #182848);
    box-shadow: 0px 5px 15px rgb(22, 21, 21);
    color: white;
    font-family: 'Protest Strike', sans-serif;
}

.content h1 {
    margin-left: 10px;
    padding: 20px;
    font-weight: bold;
    color: white;
    padding-bottom: 40px;
    margin-top: 25px;
}

.form {
    border-radius: 5px;
    border: none;
    margin-top: 5px;
    padding: 10px;
    width: 90%;
    margin-bottom: 10px;
    background-color: rgba(221, 235, 240, 0.4);
    color: #182848;
}

.form-group {
    margin-left: 25px;
}
label{
    font-size: 16px;
}
p {
    margin-left: 30px;
    margin-top: 10px;
    font-size: small;
}

p a {
    color: white;
    text-decoration: none;
}

button {
    margin-left: 30px;
    margin-top: 25px;
    padding: 10px 60px;
    border: none;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 5px 10px grey;
}



    .loader-container {
                display: none;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(255, 255, 255, 0.8);
                z-index: 1000;
                justify-content: center;
                align-items: center;
            }
    
            .loader {
                border: 8px solid #3498db;
                border-top: 8px solid #f5f5f5;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                animation: spin 1s linear infinite;
            }
    
            @keyframes spin {
                0% { transform: rotate(0deg); }
                100% { transform: rotate(360deg); }
            }
    </style>
</head>
<body>
    <div class="loader-container" id="loaderContainer">
        <div class="loader"></div>
    </div>

    <div class="container">
        <div class="circleTop"></div>
        <div class="content">
            <h1>HR LOGIN</h1>
            <form action="hr_login" method="post">
            <div class="form-group"><i class="fas fa-user"></i>
                <label for="employee_email">Email</label><br>
                    <input type="email" class="form" name="employee_email" id="employee_email" placeholder="Email" required>
            </div>
            <div class="form-group">
                <i class="fas fa-lock"></i>
                <label for="employee_password">Password</label>
                <input type="password" class="form" name="employee_password" id="employee_password" placeholder="Password" required>
            </div>
            <button type="submit" style="color: #182848;">Login</button>
            </form>
        </div>
        <div class="circleBottom"></div>
    </div>

    <script>
        function showLoader() {
      document.getElementById('loaderContainer').style.display = 'flex';
  }

  // Hide loader when a process ends
  function hideLoader() {
      document.getElementById('loaderContainer').style.display = 'none';
  }

  // Attach the showLoader function to the 'beforeunload' event
  window.addEventListener('beforeunload', showLoader);

  // Attach the hideLoader function to the 'load' event
  window.addEventListener('load', hideLoader);
    </script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
