<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p> ALERT!!@!  Please login after sighnup dont signup again </p>
    <form action="/user_signUp" method="POST">
       name  <input type="text" name="userName">
        email <input type="text" name="userEmail">
         number<input type="number" name="userNumber">
         password <input type="text" name="userPassword">
        
        <button type="submit">SignUp</button>
    </form>



    <form action="user_login" method="post">
        email: <input type="text" name="user_email">
        password: <input type="text" name="user_password">
        <button type="submit">Login</button>
    </form>
</body>
</html>